# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Production
build/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads (runtime)
/uploads/*
!/uploads/.gitkeep
public/uploads/*
!public/uploads/.gitkeep

# TypeScript
*.tsbuildinfo
